# MongoDB Connection
MONGO_URI=mongodb+srv://gharKharcha:Navnath%401998@cluster0.mex5j4z.mongodb.net/gharKharcha?appName=Cluster0

# VAPID Keys — DO NOT CHANGE after first deploy (breaks existing subscriptions)
VAPID_PUBLIC=BJAzPJmjC3OMCLTc4rIWI__mK4qvlTQe3xkHehfhMJzLkAVRSODMNlLYdP6dC9lD9cCZ9kxhjyyJ8v7O1qt2M9I
VAPID_PRIVATE=PCpTLjpcgYLnaoPuuW6FLpYuq85u1M_v32nOJ8pBwkQ

# Server port (Render sets this automatically)
PORT=3001
